
   
           <div class="container">
             <div class="jumbotron">
                          <div class="text-center"><h1>Add Users</h1></div>
           <form name="myUser">
              <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="text" class="form-control" name="name" id="exampleInputName" ng-model="name" aria-describedby="nameHelp" placeholder="Enter Name">
                  <span style="color:red;" ng-show="myUser.name.$touched && myUser.name.$empty">
                      Name is required</span>
                  <span ng-show="myUser.name.$error.name">Invalid email addresss</span>
                  <span ng-show="name">{{name}}</span>
                </div>

                <div class="form-group">
                    <label for="exampleInputName">Username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputUsername" ng-model="username" aria-describedby="nameHelp" placeholder="Enter Username">
                    <span style="color:red;" ng-show="myUser.name.$touched && myUser.name.$empty">
                        username is required</span>
                    <span ng-show="myUser.name.$error.name">Invalid Username</span>
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" name="email" ng-model="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <span style="color:red;" ng-show="myUser.email.$dirty && myUser.email.$invalid">
                      Email is required</span>
                  <span ng-show="myForm.email.$error.email">Invalid email addresss</span>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputRole">Role</label>
                   <select ng-model="role" 
                   ng-options="opt as opt.label for opt in role">
                   </select>
                    
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" ng-model="password" name="password" placeholder="Password">
                </div>
                <span style="color:red;" ng-show="myUser.password.$dirty && myUser.password.$invalid">
                    Password is required</span>
                <span ng-show="myUser.password.$error.password">Invalid email addresss</span>
                <button type="submit" class="btn btn-primary" ng-click="addUser()">Submit</button>
              </form>

        </div>
   
        </div>
      </div>
       
    