<hr>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
	  <div class="card-block">
	   <h3 class="text-center"> Login Here </h3>
	  <form (submit)="loginUser()">
	  	<div class="form-group">
	  		<label for="username">Username:</label>
	  		<input [(ngModel)]="login.username" class="form-control" name="username" required/>
	  	</div>
	  	<div class="form-group">
	  		<label for="password">Password:</label>
	  		<input [(ngModel)]="login.password" type="password" name="password" class="form-control" required/>
	  	</div>
	  	<input type="submit" class="btn btn-primary btn-block" value="Login"/>
	  	</form>
	  	</div>
	</div>
</div>