
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/">Home</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" href="#" routerLink="/add_task">Add Task</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" href="#" routerLink="/add_user">Add User</a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" href="#" routerLink="/login">Log in</a>
    </li>
      <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" href="#" (click)= "onLogoutClick()">Log out</a>
    </li>
  </ul>
</nav>