<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Add Users</h1>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{error}}
                </div>
                {% endfor %}
            {% endif %}
        
                {{ forms.as_p }}
                <button type="submit" class="btn btn-success">Add user</button>
            </form>
    
</body>
</html>
