<!doctype html>
{% load static %}
<html lang="en-Us">
<head>
  <meta charset="utf-8">
  <title>MyscrumyssApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'myscrumyss-app/dist/myscrumyss-app/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'myscrumyss-app/dist/myscrumyss-app/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'myscrumyss-app/dist/myscrumyss-app/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'myscrumyss-app/dist/myscrumyss-app/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'myscrumyss-app/dist/myscrumyss-app/main.js' %}"></script>
</body>
</html>
