<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Task</title>
</head>
<body>
    
        <h1>Edit Tasks</h1>
        <form method="post">
            {% csrf_token %}
            {% if forms.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{error}}
                </div>
                {% endfor %}
            {% endif %}
            <div>
            {{forms.user_id.label_tag}}
            {{ forms.user_id }}
            </div><br>
            <div>
            {{forms.title.label_tag}}
            {{ forms.title }}
            </div><br>
            <div>
            {{forms.task.label_tag}}
            {{ forms.task }}
            </div><br>
            <div>
            {{forms.status.label_tag}}
            {{ forms.status }}
            </div><br>
                <button type="submit" class="btn btn-success">Update</button><spa> {% if st %}
                        <p style="color:red;">{{st}}</p>
                        {% endif %}</spa>
            </form>
    
</body>
</html>
